/* Coolors Exported Palette - https://coolors.co/0d1940-4d5d8c-0785f2-f28241-ac67ec */

/* CSS HEX */
--oxford-blue: #0d1940ff;
--purple-navy: #4d5d8cff;
--bleu-de-france: #0785f2ff;
--mango-tango: #f28241ff;
--medium-purple: #ac67ecff;

/* CSS HSL */
--oxford-blue: hsla(226, 66%, 15%, 1);
--purple-navy: hsla(225, 29%, 43%, 1);
--bleu-de-france: hsla(208, 94%, 49%, 1);
--mango-tango: hsla(22, 87%, 60%, 1);
--medium-purple: hsla(271, 78%, 66%, 1);

/* SCSS HEX */
$oxford-blue: #0d1940ff;
$purple-navy: #4d5d8cff;
$bleu-de-france: #0785f2ff;
$mango-tango: #f28241ff;
$medium-purple: #ac67ecff;

/* SCSS HSL */
$oxford-blue: hsla(226, 66%, 15%, 1);
$purple-navy: hsla(225, 29%, 43%, 1);
$bleu-de-france: hsla(208, 94%, 49%, 1);
$mango-tango: hsla(22, 87%, 60%, 1);
$medium-purple: hsla(271, 78%, 66%, 1);

/* SCSS RGB */
$oxford-blue: rgba(13, 25, 64, 1);
$purple-navy: rgba(77, 93, 140, 1);
$bleu-de-france: rgba(7, 133, 242, 1);
$mango-tango: rgba(242, 130, 65, 1);
$medium-purple: rgba(172, 103, 236, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-right: linear-gradient(90deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-bottom: linear-gradient(180deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-left: linear-gradient(270deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-top-right: linear-gradient(45deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-bottom-right: linear-gradient(135deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-top-left: linear-gradient(225deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-bottom-left: linear-gradient(315deg, #0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);
$gradient-radial: radial-gradient(#0d1940ff, #4d5d8cff, #0785f2ff, #f28241ff, #ac67ecff);