@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Secular+One&display=swap');

$headline-hard: 'Secular One', sans-serif;
$headline-soft: 'Sansita Swashed', cursive;
$paragraph: 'Poppins', sans-serif;