header {
	
	button {
		display: none;
	}
	nav {
		border-top: 1px solid $colorPrimary4;
		ul {
			display: flex;
			justify-content: space-evenly;	
		}
		ul li a {
			border-top: none;
		}		
	}	
}

/* Tables */
.table-rentals {
	max-width: 700px;
}



.section-call {
	position: relative;
	form {
		float: left;
		position: absolute;
		top: 1em;
		left: 1em;
		fieldset {
			border: solid 1px $colorPrimary1;
			background-color:  rgba(105, 212, 242, 0.7);
		}
		input, select {
			font-size: 1.3em;
			height: 1.3em;
		}
		.submit-button {
			height: 40px;
		}
		section {
			padding: 0.5em 0;
		}
	}
}

.hide {
	display: block;
}