* {
  box-sizing: border-box;
}

html {
  background-color: $black;
  color: $white;
  font-size: 1em;
  font-family: $paragraph;
  padding: 0 0.5em;
}

header {
  padding: 0 1em;
}

body {
  margin: 1em;
}

main {
  max-width: 750px;
  margin: 0 auto 1em auto;
  border: $white solid 1px;
  padding: 1em;
  border-radius: 0.5em;
  background-color: $black;
}

header {
  max-width: 750px;
  margin: 1em auto 0 auto;
  border-radius: 10px;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 1em;
}

.body-wide {
  max-width: 950px;
  padding: 1em 2em;
}

/* === Extra Classes ================================================ */
.last-edit {
  font-size: 1em;
}

code {
  font-size: 10pt;
  tab-size: 2;
}

.align-center {
  text-align: center;
}


/* === Tabs ================================================ */
.tabs {
  overflow: hidden;
}

.tabs button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 0.5em 0.5em 0 0;
}

.tabs button:hover {
  background-color: $orange;
  color: white;
}

.tabs button.active_tab {
  background-color: $green-bull;
  color: $white;
}

/* Fading effect takes 1 second */
.tabcontent {
  display: flex;
  flex-direction: row;
  animation: fadeEffect 1s;

  &.flexbox-column {
    flex-direction: column;
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Fieldsets */
fieldset {

  input[type="text"],
  input[type="password"] {
    margin: 0.5em 0;
    font-size: 1.2em;
    padding-left: 0.5em;
    width: 100%;
  }

  &.radio-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

legend {
  font-size: 1.2em;
  padding: 0.5em;
}

/* === Orders ================================================ */
.orders-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em 0.5em;
}

label,
select {
  font-size: 1.2em;
  width: 100%;
}

/* === FORMS ================================================ */
.common-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;

  & .tabcontent-item {
    flex-grow: 1;
  }

  // & .left-container,
  // & .right-container {} 
}

textarea {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 250px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0.1em;
}

button {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0 0.2em;
  font-weight: bold;

  &.form-button {
    padding: 0.5em 1em;
    border: 1px solid $white;
    border-radius: 5px;
    flex-grow: 1;
    color: $white;
    background-color: $black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin: 0 auto;

    &:hover {
      background-color: $yellow;
      color: $black;
    }

    &:active {
      background-color: $orange;
      transform: scale(1.1);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

#display {
  display: flex;
  justify-content: space-between;

  & span {
    font-size: 1.2em;
    border: 1px $white solid;
    padding-left: 0.25em;
  }

  & #current {
    flex-grow: 2;
    border-radius: 0.5em 0 0 0.5em;
  }

  & #change {
    flex-grow: 1;
    border-radius: 0 0.5em 0.5em 0;
  }
}

/* === CHART ================================================ */
.row {
  display: flex;
  margin: 0.5em 1em;

  & div {
    flex-grow: 1;
  }
}

#chart {
  width: 95%;
  margin: 1em;
}

/* === COLUMNS ================================================ */
.left-column,
.right-column {
  max-width: 50%;
  margin: 0 0.3em 0 0.3em;
}

/* === Toggle Key ============================================= */
// .key-container {
//   display: flex;
//   &.keys {
//     flex-grow: 1;
//   }
//   &.toggle-key {
//     flex-grow: 1;
//     width: 25px;
//   }  
// }