* {
  box-sizing: border-box;
}

html {
  background-color: $black;
  color: $white;
  font-size: 1em;
  font-family: $paragraph;
  padding: 0 0.5em;
}

header {
  padding: 0 1em;
}

body {
  margin: 1em;
}

main {
  max-width: 750px;
  margin: 0 auto 1em auto;
  border: $white solid 1px;
  padding: 1em;
  border-radius: 0.5em;
  background-color: $black;
}

header {
  max-width: 750px;
  margin: 1em auto 0 auto;
  border-radius: 10px;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 1em;
}

.body-wide {
  max-width: 950px;
  padding: 1em 2em;
}

/* === Extra Classes ==== */
.last-edit {
  font-size: 1em;
}

code {
  font-size: 10pt;
  tab-size: 2;
}

/* === Tabs ==== */
.tab {
  overflow: hidden;
}

.tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 0.5em 0.5em 0 0;
}

.tab button:hover {
  background-color: $orange;
  color: white;
}

.tab button.active {
  background-color: $green-bull;
}

/* Fading effect takes 1 second */
.tabcontent {
  display: flex;
  flex-direction: row;
  animation: fadeEffect 1s;

  &>div {
    width: 100%;
  }

  &.flexbox-column {
    flex-direction: column;
  }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Fieldsets */
fieldset {
  input[type="text"] {
    width: 100%;
  }

  &.radio-button {
    display: flex;
    justify-content: space-around;
  }
}

legend {
  font-size: 1.2em;
  padding: 0.5em;
}

/* === Orders ==== */
.orders-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em 0.5em;
}

input[type=text] {
  margin: 0.5em 0;
  font-size: 1.2em;
  padding-left: 0.5em;
  width: 70%;
}

select {
  font-size: 1.2em;
  width: 90%;
}

/* === FORMS ==== */
.common-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  & .tabcontent-item {
    flex-grow: 1;
  }

  // & .left-container,
  // & .right-container {} 
}

textarea {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 250px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0.1em;
}

button {
  flex-grow: 1;
  padding: 0.2em;
  margin: 0 0.2em;

  &.form-button {
    padding: 0.5em 1em;
    border: 1px solid $white;
    border-radius: 5px;
    flex-grow: 1;
    color: $white;
    background-color: $black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin: 0 auto;

    &:active {
      background-color: $yellow;
      transform: scale(1.1);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

#display {
  display: flex;
  justify-content: space-between;
  border: 1px yellow solid;

  & span { 
    font-size: 1.2em;
    border: 1px red solid;
  }

  & #current {
    flex-grow: 2;
  }

  & #change {
    flex-grow: 1;
  }
}