@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$headline: 'Gentium Basic',
serif;
$paragraph: 'Ubuntu',
sans-serif;

$bg1: #181a1b;
$bg2: #F0F0F0;
$bg3: #CBE1E8;

$black: #000000;
$white: #ffffff;
$red: #ff5252;
$green: #26a69a;
$lime: #00e676;
$cyan: #00bcd4;
$orange: #ff9800;
$pink: #e040fb;
$yellow: #ffeb3b;