header, footer {
	width: 950px;
}

footer {
	font-size: 1.1em;
	line-height: 1.8em;
	height: 150px;
}

h2 {
	margin-top: 0;
}

main {
	width: 950px;
}

section {
	padding: 2.5em;
}

@media only screen and (min-width: 1330px) {
	#go-up {
		display: block;
		position: fixed;
		right: 20px;
		bottom: 20px;
	}
}