@media only screen and (min-width: 37.5em) {
  .navigation {
    display: flex;
  }
  
  .navigation li {
    display: block;
    flex-direction: row;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  h1 {
    color: cornflowerblue;
  }
}

