@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$headline:  'Gentium Basic', serif;
$paragraph: 'Montserrat', sans-serif;

$background1: #266076;
$background2: #F0F0F0;
$background3: #CBE1E8;

