button { 
	margin: 0.1em 0;

	&.btn-dark {
		border: 1px rgb(134, 131, 131) solid;
	}
	
	&.btn-dark:hover {
		border: 1.5px rgb(197, 193, 193) solid;
	}

	&.btn-dark:focus {
		border-color: rgb(43, 255, 0);
	}
}

body {
    height: 100vh;
    background-image: url('https://carloswm85.github.io/subsites/csharp-notes/assets/background.jpg');
}

.list-group-item {
	background-color: rgba(167, 161, 161, 0.5);
	color: white;
}

/* TOOLTIP */
.tooltip-top {
	position: relative;
}

.tooltip-top::after {
	background-color: rgb(19, 18, 18);
	border-radius: 5px;
	display: none;
	padding: 10px 15px;
	position: absolute;
	text-align: center;
	z-index: 999;

	// Top
	content: attr(data-content);
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 10px));
}

.tooltip-top:hover::after {
    display: block;
}

.tooltip-top::before {
	background-color: rgb(19, 18, 18);
	content: ' ';
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 999;
	
	// Top
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip-top:hover::before {
    display: block;
}