@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

html {
	background-color: #000;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Ubuntu', sans-serif;
	padding: 0 0.5em;
}

body {
	max-width: 450px;
	margin: 1.5em auto;
	border: #fff solid 1px;
	padding: 1em;
	border-radius: 10px;
}

code {
	border: solid 1px gray;
	border-radius: 2px;
	padding: 0 5px;
	font-family: Consolas, monospace;
}

.body-wide {
	max-width: 1024px;
}

.border-bottom {
	border-bottom: #fff 1px dashed;
}

li {
	line-height: 2em;
}

a:link {
	font-size: 1em;
	text-decoration: dashed;
	color: orange;
}

a:visited {
	color:yellow;
}

a:hover, .go-back:hover {
	color: aqua;
}

span {
	font-size: 1.3em;
}

img {
	margin: 1em;
	width: 90%;
}

.go-back {
	float: left;
	font-size: 1.2em;
}

.italic {
	font-style: italic;
}

/* =============================== FORMS =================================== */
form > input{
	float: right;
	width: 70%;
}

textarea {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 250px;
}

.button-container {
	display: flex;
	justify-content: space-around;
	padding: 1em;
}

button {
	flex-grow: 1;
	padding: 0.2em;
	margin: 0 0.2em;
}

/* =============================== COLORS =================================== */
.lime {
	color: #65fe08;
}

.red {
	color:red;
}