<nav id="navbar" role="navigation">
	<ul>
		<li><a href="./index.html">Home</a></li>
		<li><a href="img/broken.png" target="_blank">Blog</a></li>
		<li><a href="img/broken.png" target="_blank">Portfolio</a></li>
		<li><a href="#">Education</a>
			<ul>
				<li><a href="/portfolio/college-classes.html" target="_blank">College Classes</a></li>
				<li><a href="/portfolio/short-courses.html" target="_blank">Short Courses</a></li>
				<li><a href="/portfolio/projects.html" target="_blank">Projects</a></li>
			</ul>
		</li>
		<li><a href="#">Sub-sites</a>
			<ul>
				<li><a href="sites/bitcoin-at/" target="_blank">Bitcoin AT</a></li>
			</ul>
		</li>
	</ul>
</nav>
