@media only screen and (min-width: 75em) { /* 1200px */
  h1 {
    color: red;
  }
      
  body {
    margin: 30px auto;
    width: 60em; 
  }

  main {
    border: 1px solid white;
  }

  header, footer {
    margin: 0 -2%;
  }

  /* ARTICLE */
  .article-picture {
    display: block;
    float: right;
  }
}