@media only screen and (min-width: 60em) {
	header, footer {
		width: 950px;
		margin: auto;
		border: none;
	}

	footer {
		font-size: 1.1em;
		line-height: 1.8em;
		height: 150px;
		
	}

	h2 {
		margin-top: 0;
	}

	main {
		margin: auto;
		width: 950px;
	}

	section {
		padding: 2.5em;
	}

	#go-up {
		display: block;
		position: fixed;
		right: 20px;
		bottom: 20px;
	}

	
}