@media only screen and (min-width: 60em) {
	header, footer {
		width: 950px;
		margin: 0 auto 1em auto;
		border: none;
	}

	footer {
		margin: 1em auto 0 auto;
		font-size: 1.1em;
		line-height: 1.8em;
		height: 150px;
		padding: 0.5em;
	}

	h2 {
		margin-top: 0;
	}

	main {
		width: 850px;
	}

	section {
		padding: 2.5em;
	}

	
}