@media only screen and (min-width: 560px) {

	nav {
		margin: 0 auto;
		max-width: 950px;
		button {
			display: none;
		}
	}

	#navigation-list {
		display: flex;
		justify-content: space-around;
		li {
			flex-grow: 1;
			a {
				padding: 0.5em 0;
			}
		}
	}

	section {
		padding: 1.6em;
	}

	#go-up {
		display: block;
		position: fixed;
		left: 85%;
		top: 20px;
	}

	.books {
		img {
		  margin: 0.5em 1em 0.5em 0;
		  width: 200px;
		  float: left;
		}
	}

	.traders {
		img {
		  float: left;
		  margin-right: 1em;
		  margin-bottom: 0.5em;
		}
	}

	.border-top {
		padding: 1em;
	}
}