@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// COLORS
$at1: #699ec6;
$at2: #97bcd8;
$at3: #cdccd2;

$at4: #fcae42;
$at5: #ff0109;
$at6: #dcdeea;

$fb1: #4167b2;
$fb2: #eaebef;
$fb3: #ffffff;

// FONTS
$heading: 'Oswald', sans-serif;;
$paragraph: 'Roboto', sans-serif;