// Colors from: 
$at1: #699ec6; // Background color
$at2: #97bcd8; // Header and footer
$at3: #cdccd2; // Sections

$at4: #fcae42;
$at5: #ff0109;
$at6: #dcdeea;

$fb1: #4167b2;
$fb2: #eaebef;
$fb3: #ffffff;

