@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald&display=swap');

body {
  background-color: #ebebeb;
}

header {
  display: flex;
  flex-direction: column;
  border: solid 1px blue;
  background-color: #494949;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #ebebeb;
  margin-left: 3%;
}

h2 {
  margin-top: 1%;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  border: solid 1px orange;
}

li {
  background-color: #494949;
  padding: 10px;
  text-align: center;
  border: solid 1px;
}

li > a {
  color: #ebebeb;
}

nav > ul > li:hover {
  background-color: red;
}

.logo-container {
  display: block;
  width: 100%;
  height: auto;
  border: red solid 1px;
}

.site-logo {
  display: block;
  margin: auto;
  width: 50vw;
  height: auto;
  border: 1px solid yellow;
}

.link-centered {
  text-align: center;
}

.section-style, footer {
  padding: 3%;
  margin: 3%;
  background-color: #ffffff;
}

footer > p {
  text-align: center;
}