@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald&display=swap');

body {
  background-color: #dadada;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #494949;
}

footer {
  color: #dadada;
  margin: 0;
  padding: 5%;
  background-color: #494949;
}

footer > p {
  text-align: center;
  font-size: 1.2em;
}

footer > p > a {
  color: #dadada;
  text-decoration: underline;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #ebebeb;
  margin-left: 3%;
}

h2 {
  margin-top: 1%;
}

nav > ul {
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style-type: none;
}

nav > ul > a {
  display: flex;
  color: #dadada;
  height: 2.5em;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  justify-content: center;
}

nav > ul > a:hover {
  background-color: #dadada;
  color: black;
}

.logo-container {
  display: block;
  width: 100%;
  height: auto;
}

.site-logo {
  display: block;
  margin: auto;
  width: 50%;
}

.link-centered {
  text-align: center;
}

.section-style {
  padding: 3%;
  margin: 3%;
  background-color: #ffffff;
}

p {
  font-family: 'Noto Sans', sans-serif;
  text-align: justify;
}