/* Main Style */
* {
  color: white;
}

html {
  padding: 1em 2em;
}

body {
  background-color: black;
}

header, footer, main {
  border: 1px yellow solid;
  padding: 1em;
  margin: 0.5em 0;
}

.center-h {
  text-align: center;
}

/* Colors */
.color-yellow {
  color: yellow;
}
